.footer{
  margin-left : 80px;
  font-size : 18px;
  display: flex;
  align-content: flex-end;
  position: relative;
}
.main{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
   grid-template-rows:minmax(300px auto); 
  text-align: center;
  grid-gap:25px;
  margin:20px;
  padding: 10px;
}
.score{
  display: flex;
  font-size: 30px;
  font-weight:400;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
  
}
.main1{
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

